html {
  margin: 0px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.menu  {
  padding: 30px 30px 30px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  border: rgb(42, 247, 1) 1px;
  box-shadow: 4px 4px 14px;
  position: relative;
  color: rgb(5, 197, 5); 
}

a  {
  padding: 30px 30px 30px;
  margin: 0px;
  text-decoration: none;
  color: rgb(44, 253, 2);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  box-shadow: 0px 0px 3px;
  transition: .2s;
}
.programacao {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  text-align: right;

  color: rgb(6, 255, 6);

 

}

.colum {

  display: grid;

  grid-template-columns: 1fr 1fr;

  background-color: rgb(52, 236, 15);

  padding: 0px 0px 0px;

  position: absolute;

  margin: 0px;

  background-color: rgb(0, 0, 0);

 



}

.bluecolum2 {

  background-color: rgb(0, 0, 0);

  margin: 0px;

  border: double 3px #22da11;

  box-shadow: 1px 10px 11px rgb(7, 224, 7);

  border-radius: 2px;

}

.primeiratela {

  box-shadow: 1px 10px 11px rgb(11, 247, 2);

  border: double 3px rgb(0, 255, 0);

 

 

 



}

.primeiratelatxt {
  margin: 140px 330px 100px;
  padding: 10px 25px 25px;
  z-index: 1;
  box-shadow: 1px 1px 13px rgb(3, 248, 15);
  border-radius: 30px;
  background-color: none;
  border: solid 1px green;
}

.download {

  background-color: black;

  color: white;

  border: solid 2px;

  padding: 8px 7px 8px;

  border-radius: 3px;

 

}

button {

  padding: 4px 9px 5px;

  box-shadow: 2px 2px 2px;

}

.dev {

  margin: 0;

  text-align: left;

  font-size: 25px;

  font-family: 'Times New Roman', Times, serif;

}

span {

  color: rgb(0, 255, 234);

}

.imgposition {

  position: relative;

  height: 300px;

}

.sobre {

 align-items: center;

 border: double #2bff00 18px;

 text-align: center;

 background-color: rgb(0, 0, 0);

 position: absolute;

 text-align: center;

 margin-left: 150px;

 margin-top: 500px;

 padding: 100px 20px 190px;

 box-shadow: 1px 2px 90px rgb(22, 255, 1);

 border-radius: 13px;



}

img {

  position: absolute;

  height: 500px;

  margin-top: 220px;

 



}

.lua {

  align-items: center;

  position: absolute;

  left: 49%;

  top: 28%;

  border-radius: 60px;

  border: solid greenyellow;

  padding: 7px 10px 10px;




}
.primeiratelatxt {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}
a:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 18px rgb(255, 255, 255);
}









@keyframes flutuar{
  0% {
    top: 0;

  }
  100%{
    top: 30px;
  }
}
